@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: grid;
    grid-template-rows: 80px 680px 80px;
}

.header{
    background-color:#5752B4;
    box-shadow: 0px -10px 6px 10px lightgray;
    display: flex;
    align-items: center;
    padding-left: 12px;
}

.title{
    color: white;
    font-size: 28px;
    font-weight: 500;
}

.footer{
    background-color:#5752B4;
    display: flex;
    align-items: center;
    padding-left: 12px;
    gap: 12px;
}

a, .dev{
    text-decoration: none;
    color: white;
    font-size: 21px;
}

.main{
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 21px;
}

.board{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 450px;
    height: 450px;
}

.restart__btn{
    padding: 15px;
    width: 150px;
    border: 3px solid #5752B4;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 500;
    background-color: lightgray;
}

.restart__btn:hover{
    background-color:rgb(255, 92, 32);
}

.block{
    width: 148px;
    height: 148px;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 100px;
    color: darkslategrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block:hover{
    background-color: lightgray;
}

.main__board{
    display: flex;
    gap: 24px;
}

.player__one, .player__two{
    font-size: 32px;
    font-weight: 300;
    text-decoration: underline;
}

.firstNameContainer, .secondNameContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status{
    font-size: 24px;
    font-weight: 400;
    padding: 12px;
    margin-top: 24px;
}